*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: brown;
}
::-webkit-scrollbar-corner{
  border-radius: 50px;
}